
body {
  $background-color-name: "--background-color";
  $dark-default-bg: 20;
  $light-default-bg: 255;
  $dark-difference: 10;
  $light-difference: 7;

  color: var(--color);

  @mixin defaultBackgroundColor($number, $dark: false) {
    $color: null;
    @if ($dark) {
      $color: ($dark-default-bg + ($number * 10));
      //#{$background-color-name}-#{$number}: rgb($color, $color, $color);
    } @else {
      $color: $light-default-bg - ($number * 10);
    }

    @if ($color < 0) {
      $color: 0;
    } @else if ($color > 255) {
      $color: 255;
    }
    #{$background-color-name}-#{$number}: rgb($color, $color, $color);
  }

  @mixin design($dark: false) {
    @for $i from 0 through 10 {
      @include defaultBackgroundColor($i, $dark);
    }
    @if $dark {
      --color: #a0a0a0;
    } @else {
      --color: rgb(95, 95, 95);
    }
  }

  &.dark-design {
    @include design(true);
  }

  &.light-design {
    @include design(false);
  }

  &.system-design {
    @media (prefers-color-scheme: dark) {
      @include design(true);
    }
    @media (prefers-color-scheme: light or no-preference) {
      @include design(false);
    }
  }
}